body{
    display: flex;
}

header {
    display: flex;
}

header .timer {
    justify-content: last;
}

h1 {
    text-align: center;
}

.quiz-prompt{
    text-align: center;
}

.timer {
    text-align: right;
}
button {
    background-color: #2e1f6c; 
    border: none;
    margin: 5px;
    color: white; /* White text */
    border-radius: 12px;
}

.start-button{
    border-radius: 12px;
}

button:hover{
    background: #b268e0;
}
.answers-btn-group button {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    border-radius: 12px;
  }

  .highscrores a{
      color: #b268e0;
      text-decoration: none;
  }
  .high-score-display{
      background-color: #d8d3e7;
  }

  .page {
      display: flex;
      justify-content: center;
      padding: 90px 90px 0px 20px;
  }

  