body{
    display: flex;
}

header {
    display: flex;
}

header .timer {
    justify-content: last;
}

h1 {
    text-align: center;
}

.quiz-prompt{
    text-align: center;
}

.timer {
    text-align: right;
}
